<!--  <button type="button" (click)="studentPopUp()" (mouseover)="selectStudent()" class="student"> </button>
ngIf para colores front-end, back-end, net (clases) -->

<div class="student-container">
    <button *ngIf="student.itinerary == 'Front End'" type="button" class="student front-end">
    
    </button>
    <button *ngIf="student.itinerary == 'Back End'" type="button" class="student back-end">
    
    </button>
    <button *ngIf="student.itinerary == '.Net'" type="button" class="student net">

    </button>
    <button *ngIf="student.itinerary == ''" type="button" class="student empty">
    
    </button>
</div>