/* ANIMATION */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* COLORS */

$white: #FFFFFFFF;
$light-grey: #E8E8E8;
$dark-grey: #666666;
$black: #212121;
$pink: #D50283;
$blue: #005F87;

/* STYLES */

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: $pink;
}

p {
    color: $dark-grey;
    width: 95%;
    margin: auto;
}

label {
    font-size: 1.25em;
    color: $black;
}

.main-container {
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.reset-help {
    background-color: $light-grey;
    height: 120px;
    color: $black;
}

button.submit-btn {
    font-size: 1.125em;
    background-color: $pink;
    color: $white;
    width: 120px;
}

button.submit-btn:hover {
    color: $white;
    text-decoration: underline;
}

button.forgot-password {
    color: $blue;
    background-color: transparent;
    border: none;
    padding: 0;
}

button.forgot-password:hover {
    text-decoration: underline;
}


/* VALIDATION CLASSES */

.invalid {
    border: 2px solid $pink;
    color: $pink;
}

.text-invalid {
    color: $pink;
    line-height: 1.125em;
}