@import '../../../assets/colors';

h1 {
    color: $black;
    font-size: 2em;
    font-weight: 700;   
}

h2 {
    color: $black;
    font-size: 1.5em;
    font-weight: 700;   
}

p {
    color: $black;
    font-size: 1em;
    font-weight: 400;;   
}
