<div class="container-fluid my-3 pb-4">
    <div class="students-background px-4 py-5">

        <div class="student-grid">

            <!--row 1-->
            <app-student-table class="invisible"></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table class="invisible"></app-student-table>

            <div class="table-4 invisible">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table></app-student-table>
            <!--end row 1-->

            <!--row 2-->
            <app-student-table></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table></app-student-table>
            <!--end row 2-->

            <!--row 3-->
            <app-student-table></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table></app-student-table>
            <!--end row 3-->

            <!--row 4-->
            <app-student-table class="invisible"></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table class="invisible"></app-student-table>

            <div class="table-4">
                <app-student-table></app-student-table>
                <app-student-table></app-student-table>
            </div>

            <app-student-table></app-student-table>
            <!--end row 4-->

        </div>
        <!--end student grid-->

        <div class="board">PIZARRA</div>
    </div>
    <!--student background-->


    <div class="container reference d-flex justify-content-around">
        <div class="reference-box">
            <div class="color-reference net"></div>
            <p class="pt-2">.Net</p>
        </div>
        <div class="reference-box">
            <div class="color-reference frontend"></div>
            <p class="pt-2">Front End</p>
        </div>
        <div class="reference-box">
            <div class="color-reference backend"></div>
            <p class="pt-2">Back End</p>
        </div>
    </div>
</div>