/* ANIMATION */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* COLORS */

$white: #FFFFFFFF;
$light-grey: #E8E8E8;
$dark-grey: #666666;
$black: #212121;
$pink: #D50283;
$blue: #005F87;

/* STYLES */

h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: $pink;
}

h2 {
    font-weight: 700;
}

label {
    font-size: 1.25em;
    color: $black;
}

button {
    font-size: 1.125em;
    background-color: $pink;
    color: $white;
    width: 120px;
}

button:hover {
    color: $white;
    text-decoration: underline;
}

.main-container {
    padding-top: 15vh;
    padding-bottom: 10vh;
}

.login-title {
    background-color: $light-grey;
    height: 70px;
    color: $black;
}

.forgot-password a {
    color: $blue;
}


/* VALIDATION CLASSES */

.invalid {
    border: 2px solid $pink;
    color: $pink;
}

.text-invalid {
    color: $pink;
    line-height: 1.125em;
}