<div class="container-fluid mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ejercicios</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cambiar estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exercise of exercises">
                <td>{{exercise.name}}</td>
                <td>{{exercise.state}}</td>
                <td>{{exercise.date | date:"MM/dd/yy" }}</td>
                <td>
                    <app-exercise-modal></app-exercise-modal>
                </td>
            </tr>

        </tbody>
    </table>
</div>