@import '../../../../assets/colors';
.btn-outline-pink {
    color: $pink;
    border-color: $pink;
    &:hover {
        color: $white;
        background-color: $pink;
    }
}

.typed_search {
    border-color: $light-grey;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-width: 1px;
    color: $dark-grey;
    font-style: italic;
}