/* You can add global styles to this file, and also import other style files */

// colors
$it-background-color: #fff;
$it-highlight-color: #D50283;
$it-secundary-color: #E8E8E8;
$it-text-grey-color: #666;
$it-text-black-color: #212121;
$it-auxiliary-color: #005F87;