<nav class="container-fluid">
    <div class="row">
        <ul class="light-grey-bg navbar-left col-12 nav flex-column">
            <li class="nav-item">
                <a class="black-c nav-link" routerLink="/stadistics">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a class="black-c nav-link" routerLink="/classroom">Aula</a>
            </li>
            <li class="nav-item">
                <a class="black-c nav-link" routerLink="/revision">Revisión</a>
            </li>
            <li class="nav-item">
                <a class="black-c nav-link" routerLink="/student">Alumno</a>
            </li>
            <li class="nav-item">
                <a class="black-c nav-link" href="/">Salir</a>
            </li>
        </ul>
    </div>
</nav>