@import '../../../assets/colors';
.navbar-left {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: left;
    justify-content: space-between; // space out brand from logo
    padding: .5rem 1rem;
}

a:hover {
    color: $white;
    background-color: $pink;
    border-radius: .25rem;
}

#menu {
    height: 100%;
}