<div class="container">
  <!-- Table 8 absences -->
  <div class="row d-flex justify-content-around mt-4">
    <div class="col-4">
      <h2 class="text-center mt-5">Más de 8 faltas</h2>
      <table class="table table-hover">

        <thead>
          <tr class="text-center">
            <th scope="col">Faltas</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
          </tr>
        </thead>

        <tbody>
          <tr class="text-center" *ngFor="let alumno of tooManyAbsences">
            <td>{{alumno.name}}</td>
            <td>{{alumno.lastname}}</td>
            <td>{{alumno.absences}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Table almost done -->
    <div class="col-7 ml-5">
      <h2 class="text-center mt-5">Alumnos a dos semanas de finalizar</h2>
      <table class="table table-hover">

        <thead>
          <tr class="text-center">
            <th scope="col">Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Fecha Finalización</th>
          </tr>
        </thead>

        <tbody>
          <tr class="text-center" *ngFor="let alumno of almostDone">
            <td>{{alumno.name}}</td>
            <td>{{alumno.lastname}}</td>
            <td>{{alumno.limitDate | date:'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
